{% extends "base.html" %}
{% load static %}
{% block title %} - Error 404{% endblock %}
{% block body %}
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Error 404</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="error-page">
			<h2 class="headline text-warning"> 404</h2>
			<div class="error-content">
				<h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Página no encontrada.</h3>
				<p>No pudimos encontrar la página que estás buscando. Mientras tanto, puedes <a href="{% url 'index' %}">regresar a la página de inicio</a>.</p>
			</div>
		</div>
	</section>
{% endblock %}