{% extends "base.html" %}
{% load static %}
{% block title %} - Error 500{% endblock %}
{% block body %}
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Error 500</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="error-page">
			<h2 class="headline text-danger"> 500</h2>
			<div class="error-content">
				<h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Algo salió mal.</h3>
				<p>Estamos trabajando en este inconveniente. Mientras tanto, puedes <a href="{% url 'index' %}">regresar a la página de inicio</a>.</p>
			</div>
		</div>
	</section>
{% endblock %}