{% load static %}
<!DOCTYPE html>
<html lang="es-CO" dir="ltr">
<head>
	{% block head %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Software de Interpretación de Datos (SID){% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'plugins/ionicons/2.0.1/css/ionicons.min.css' %}">
	<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
	<link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'dist/css/generales.css' %}">
	{% endblock %}
	{% block libs %}
	{% endblock %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<nav class="main-header navbar navbar-expand navbar-white navbar-light">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
				</li>
				<li class="nav-item d-none d-sm-inline-block">
					<a href="{% url 'index' %}" class="nav-link"><i class="nav-icon fas fa-home"></i> Inicio</a>
				</li>
			</ul>
		</nav>
		<aside class="main-sidebar sidebar-dark-primary elevation-3">
			<a href="{% url 'index' %}" class="brand-link">
				<img src="{% static 'dist/img/logo-mm-soft.png' %}" alt="MM-Soft Logo" class="brand-image elevation-2 icono-logo">
				<span class="brand-text font-weight-bold">MM-Soft</span>
			</a>
			<div class="sidebar">
				<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
						<li class="nav-item">
							<a href="{% url 'generar' %}" class="nav-link">
								<i class="nav-icon fas fa-database"></i>
								<p>Generar Datos</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'visualizar' %}" class="nav-link">
								<i class="nav-icon fas fa-chart-line"></i>
								<p>Visualizar Datos</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'cargarCSV' %}" class="nav-link">
								<i class="nav-icon fas fa-upload"></i>
								<p>Cargar Datos</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'histograma' %}" class="nav-link">
								<i class="nav-icon fas fa-chart-bar"></i>
								<p>Ver Histograma</p>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</aside>
		<div class="content-wrapper">
			{% if messages %}
			<div class="content-header">
				<div class="container-fluid">
			    {% for message in messages %}
				    {% if message.tags == 'error' or message.tags == 'debug' %}
					<div class="alert alert-danger" role="alert">
						{{ message|safe }}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					{% else %}
					<div class="alert alert-{{ message.tags }}" role="alert">
						{{ message|safe }}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					{% endif %}
		    	{% endfor %}
		    	</div>
		    </div>
			{% endif %}
			{% block body %}
			{% endblock %}
		</div>
		<footer class="main-footer">
			<strong>Copyright &copy;2020 MM-Soft.</strong>
			Todos los derechos reservados
			<div class="float-right d-none d-sm-inline-block">
				<b>Versión</b> 3.0.2
			</div>
		</footer>
	</div>
	<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
	<script> $.widget.bridge('uibutton', $.ui.button) </script>
	<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
	<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
	<script src="{% static 'dist/js/adminlte.js' %}"></script>
	{% block scripts %}
	{% endblock %}
</body>
</html>