{% extends "base.html" %}
{% load filtros %}
{% load static %}
{% block title %} - Cargue de Datos {% endblock %}
{% block libs %}
	<link rel="stylesheet" href="{% static 'plugins/bokeh/bokeh-0.12.10.css' %}" type="text/css" />
	<script type="text/javascript" src="{% static 'plugins/bokeh/bokeh-2.0.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugins/bokeh/bokeh-api-2.0.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugins/bokeh/bokeh-widgets-2.0.1.min.js' %}"></script>
{% endblock %}
{% block body %}
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Cargue de Datos</h1>
				</div>
			</div>
		</div>
	</div>
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-3"></div>
				<div class="col-6">
					<div class="card card-{{ CLASE_INTERFAZ }}">
						<div class="card-header">
							<h3 class="card-title"><span class="fa fa-database"></span> Formulario</h3>
						</div>
						<form action="{% url 'cargarCSV' %}" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="card-body">
								<div class="row">
									<div class="col-12">
										<p><b>Tener en cuenta:</b></p>
										<ul>
											<li>El archivo csv debe tener una sola columna con mínimo 1000 filas.</li>
											<li>Cada fila debe contener un valor numérico positivo.</li>
											<li>Si el valor numérico es decimal, debe usarse el punto (.) como separador de decimales.</li>
											<li>Se tomarán y validarán solo las primeras 1000 filas para reemplazar el vector seleccionado.</li>
										</ul>
									</div>
								</div>
								<br />
								<div class="form-group">
									<label for="archivoCsv">Archivo con extensión .csv:</label>
									<div class="input-group">
										<div class="custom-file">
			        						<input type="file" name="archivoCsv" id="archivoCsv" required="required" class="form-control">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label>Seleccione el vector a reemplazar: </label>
									<select name="vector" id="vector" required="required" class="form-control">
										<option value="">- Seleccione uno -</option>
										{% for i in totalVectores %}
										<option value="{{ forloop.counter }}">Vector {{ forloop.counter }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="card-footer text-right">
								<button class="btn btn-{{ CLASE_INTERFAZ }}">Enviar Formulario</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}