{% extends "base.html" %}
{% load static %}
{% block title %} - Generación de Datos{% endblock %}
{% block body %}
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Generación de Datos</h1>
				</div>
			</div>
		</div>
	</div>
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-4">
					<div class="info-box">
						<span class="info-box-icon bg-{{ CLASE_INTERFAZ_ALT }} elevation-1"><i class="fas fa-list-ol"></i></span>
						<div class="info-box-content">
							<span class="info-box-text">Cantidad de vectores que<br />se pueden generar</span>
							<span class="info-box-number">{{ totalVectores }}</span>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-4">
					<div class="info-box mb-3">
						<span class="info-box-icon bg-{{ CLASE_INTERFAZ_ALT }} elevation-1"><i class="fas fa-cog"></i></span>
						<div class="info-box-content">
							<span class="info-box-text">Último vector<br />generado</span>
							<span class="info-box-number">{{ vectorActual }}</span>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-4">
					<div class="info-box mb-3">
						<span class="info-box-icon bg-{{ CLASE_INTERFAZ_ALT }} elevation-1"><i class="fas fa-layer-group"></i></span>
						<div class="info-box-content">
							<span class="info-box-text">Cantidad de vectores<br />generados</span>
							<span class="info-box-number">{{ vectoresGenerados }}</span>
						</div>
					</div>
				</div>
			</div>
	        <div class="row">
	        	<div class="col-lg-3 col-sm-1"></div>
				<div class="col-lg-6 col-sm-10">
					<div class="card">
						<form action="{% url 'gestionarDatos' %}" method="POST">
							{% csrf_token %}
							<div class="card-header bg-{{ CLASE_INTERFAZ }}">
								<h3 class="card-title"><i class="fas fa-chart-pie mr-2"></i>Datos</h3>
							</div>
							<div class="card-body">
							{% if vectorActual == 0 %}
								No hay datos iniciales, haga clic en el botón para generar la primera muestra de 1000 elementos.
							{% else %}
								Haga clic en el botón para generar la siguiente muestra de 1000 elementos.
							{% endif %}
								<br /><br />
								<dl class="row">
									<dt class="col-sm-6 text-right">Seleccione el tipo de distribución:</dt>
									<dd class="col-sm-6 text-left">
										<input type="radio" id="distribucionDiscreta" name="distribucion" value="discreta" required="required" checked="checked" /> 
										<label for="distribucionDiscreta" class="cursor-pointer">Discreta</label><br />
										<input type="radio" id="distribucionContinua" name="distribucion" value="continua" required="required" />
										<label for="distribucionContinua" class="cursor-pointer">Continua</label>
									</dd>
								</dl>
							</div>
							<div class="card-footer text-right">
								<button class="btn btn-{{ CLASE_INTERFAZ }}">Generar números</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}