{% extends "base.html" %}
{% load filtros %}
{% load static %}
{% block title %} - Histograma y Distribución de los Datos {% endblock %}
{% block libs %}
	<link rel="stylesheet" href="{% static 'plugins/bokeh/bokeh-0.12.10.css' %}" type="text/css" />
	<script type="text/javascript" src="{% static 'plugins/bokeh/bokeh-2.0.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugins/bokeh/bokeh-api-2.0.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugins/bokeh/bokeh-widgets-2.0.1.min.js' %}"></script>
{% endblock %}
{% block body %}
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Histograma y Distribución de los Datos</h1>
				</div>
			</div>
		</div>
	</div>
	<section class="content">
		<div class="container-fluid">
			{% if mostrarGrafico == 0 %}
	        <div class="row">
				<div class="col-3"></div>
				<div class="col-6">
					<div class="card">
						<div class="card-header bg-danger">
							<h3 class="card-title"><i class="fas fa-exclamation-circle mr-1"></i>Mensaje del Sistema</h3>
						</div>
						<div class="card-body">
							No hay datos iniciales para mostrar el gráfico, debe generar la primera muestra en la página "Generar Datos".
						</div>
						<div class="card-footer text-right">
							<a href="{% url 'generar' %}" class="btn btn-danger">Ir a Generar Datos</a>
						</div>
					</div>
				</div>
			</div>
			{% else %}
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-11 col-md-12 col-lg-5">
									<div class="card">
										<div class="card-body">
											<div id="grafico"></div>
										</div>
									</div>
								</div>
								<div class="col-1"></div>
								<div class="col-12 col-md-12 col-lg-6">
									<form action="{% url 'histograma' %}" method="POST">
										{% csrf_token %}
										<div class="row">
											<div class="col-6">
												<div class="card card-{{ CLASE_INTERFAZ }}">
													<div class="card-header">
														<h3 class="card-title"><i class="fas fa-chart-pie mr-2"></i>Selección de Histograma</h3>
													</div>
													<div class="card-body">
														<div class="row">
															<div class="col-6 text-center">
															{% for datos in ejesY %}
																<input type="radio" id="verGrafico{{ forloop.counter }}" name="verGrafico" value="{{ forloop.counter0 }}" onchange="mostrarGrafico()" required="required" />
																<label for="verGrafico{{ forloop.counter }}" class="cursor-pointer">Ver Gráfico {{ forloop.counter }}</label><br />
																{% if forloop.counter == ejesY|dividir_lista:2 %}
															</div>
															<div class="col-6 text-center">
																{% endif %}
															{% endfor %}
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-6">
												<div class="card card-{{ CLASE_INTERFAZ }}">
													<div class="card-header">
														<h3 class="card-title"><i class="fas fa-chart-line mr-2"></i>Distribución seleccionada</h3>
													</div>
													<div class="card-body">
														<div class="text-center" id="distribucionSeleccionada">-</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-12">
												<div class="card card-{{ CLASE_INTERFAZ }}">
													<div class="card-header">
														<h3 class="card-title"><i class="fas fa-chart-bar mr-2"></i>Tipo de Distribución</h3>
													</div>
													<div class="card-body">
														<div class="row">
															<div class="col-12">
																<p>Seleccione el gráfico y su tipo de distribución:</p>
															</div>
														</div>
														<div class="row">
															<div class="col-6">
																{% for dato in distribucionesFormulario %}
																	<input type="radio" id="distribucion{{ forloop.counter }}" name="distribucion" value="{{ dato }}" onchange="activarCampoOtraDistribucion(false)" required="required" />
																	<label for="distribucion{{ forloop.counter }}" class="cursor-pointer">{{ dato }}</label><br />
																	{% if forloop.counter == distribucionesFormulario|dividir_lista:2 %}
															</div>
															<div class="col-6">
																	{% endif %}
																{% endfor %}
															</div>
														</div>
														<div class="row">
															<div class="col-6">
																<input type="radio" id="distribucionOtra" name="distribucion" value="Otra" onchange="activarCampoOtraDistribucion(true)" required="required" />
																<label for="distribucionOtra" class="cursor-pointer">Otra</label>
																<div class="input-group">
																	<input type="text" name="otraDistribucion" id="otraDistribucion" class="form-control" value="" disabled="disabled" maxlength="50" />
																</div>
																<br />
															</div>
														</div>
													</div>
													<div class="card-footer text-center">
														<button class="btn btn-{{ CLASE_INTERFAZ }}">Guardar Distribución</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</section>
{% endblock %}
{% block scripts %}
	{% if mostrarGrafico == 1 %}
	<script>
	let lineasGrafico = []
	let distribuciones = []

	/*
	 * Funcion para obtener los graficos seleccionados (radio, checkbox)
	 */
	function obtenerGraficosSeleccionados(){
		let elementosSeleccionados = []

		$('input[name="verGrafico"]:checked').each(function() {
		    elementosSeleccionados.push($(this).val())
		})

		return elementosSeleccionados
	}

	/*
	 * Funcion para mostrar el histograma segun el grafico seleccionados
	 */
	function mostrarGrafico(){
		let elementosSeleccionados = obtenerGraficosSeleccionados()

		{% for datos in ejesY %}
			{% if datos.0 >= 0 %}
 			lineasGrafico[{{ forloop.counter0 }}].visible = false
 			distribuciones[{{ forloop.counter0 }}] = "{{ distribucionesLista|buscar_lista:forloop.counter0 }}"
			{% endif %}
 		{% endfor %}

		for (let elemento in elementosSeleccionados) {
			let indice = elementosSeleccionados[elemento]
	 		lineasGrafico[indice].visible = true

	 		if(distribuciones[indice] != ""){
	 			$('#distribucionSeleccionada').html(distribuciones[indice])
	 		} else {
	 			$('#distribucionSeleccionada').html("-")
	 		}
		}
	 	
		$('.bk-button-bar > .bk-tool-icon-reset').trigger('click')
	}

	/*
	 * Funcion para activar el campo de otra distribucion
	 */
	function activarCampoOtraDistribucion(activar){
		if(activar){
			$('#otraDistribucion').attr("disabled", false).attr("required", true).focus()
		} else {
			$('#otraDistribucion').attr("disabled", true).attr("required", false).val('')
		}
	}

	$(function () {
		//Herramientas de bokeh (pan,crosshair,wheel_zoom,box_zoom,reset,save)
		let titulo = ""
		let herramientas = "box_zoom,reset"
		let rect = null

		//Grafico de datos
	    let grafico = Bokeh.Plotting.figure({
	        title: titulo,
	        tools: herramientas,
	        toolbar_location: 'above',
	        sizing_mode: 'scale_width'
	    })

        //Se generan los graficos de forma dinamica
		{% for datos in listaSuperior %}
			//Histograma
	        rect = grafico.vbar({
	        	x: {{ listaIzquierda|buscar_lista:forloop.counter0 }},
	        	width: 0.5, 
	        	bottom: 0, 
	        	top: {{ listaSuperior|buscar_lista:forloop.counter0 }},
	        	color: "navy"
	        })

			lineasGrafico[{{ forloop.counter0 }}] = rect
			lineasGrafico[{{ forloop.counter0 }}].visible = false
		{% endfor %}

		//Tooltip cuando se coloque el mouse sobre la barra
        let tooltip = ("<div style='padding: 8px;'>"+
        	"<div style='font-size: 12pt;'>"+
        		"<span style='font-weight: bold;'>Valor:</span> @x"+
        	"</div>"+
        	"<div style='font-size: 12pt;'>"+
        		"<span style='font-weight: bold;'>No. de ocurrencias:</span> @top"+
    		"</div>"+
		"</div>")

	  	let hover = new Bokeh.HoverTool({
		    renderers: lineasGrafico,
		    tooltips: tooltip
		})
		
		grafico.add_tools(hover)
		Bokeh.Plotting.show(grafico, $("#grafico"))
	})
	</script>
	{% endif %}
{% endblock %}