{% extends "base.html" %}
{% load static %}
{% block title %} - Inicio{% endblock %}
{% block body %}
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4"><br /><br /><br /><br /></div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="card card-widget widget-user">
						<div class="widget-user-header bg-{{ CLASE_INTERFAZ }}">
							<h2 class="widget-user-username"><b>Software de Interpretación de Datos</b></h2>
							<h4 class="widget-user-desc">- SID -</h4>
						</div>
						<div class="widget-user-image img-logo-principal">
							<br /><br />
							<img class="img-rounded elevation-3" src="{% static 'dist/img/logo-mm-soft.png' %}" alt="MM-Soft">
						</div>
						<div class="card-footer">
							<div class="row">
								<div class="col-sm-4"></div>
								<div class="col-sm-4">
									<br /><br /><br /><br />
									<div class="description-block">
										<h5 class="description-header">MM-Soft &copy; 2020</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}