{% extends "base.html" %}
{% load filtros %}
{% load static %}
{% block title %} - Visualización de Datos {% endblock %}
{% block libs %}
	<link rel="stylesheet" href="{% static 'plugins/bokeh/bokeh-0.12.10.css' %}" type="text/css" />
	<script type="text/javascript" src="{% static 'plugins/bokeh/bokeh-2.0.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugins/bokeh/bokeh-api-2.0.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugins/bokeh/bokeh-widgets-2.0.1.min.js' %}"></script>
{% endblock %}
{% block body %}
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Visualización de Datos</h1>
				</div>
			</div>
		</div>
	</div>
	<section class="content">
		<div class="container-fluid">
			{% if mostrarGrafico == 0 %}
	        <div class="row">
				<div class="col-3"></div>
				<div class="col-6">
					<div class="card">
						<div class="card-header bg-danger">
							<h3 class="card-title"><i class="fas fa-exclamation-circle mr-1"></i>Mensaje del Sistema</h3>
						</div>
						<div class="card-body">
							No hay datos iniciales para mostrar el gráfico, debe generar la primera muestra en la página "Generar Datos".
						</div>
						<div class="card-footer text-right">
							<a href="{% url 'generar' %}" class="btn btn-danger">Ir a Generar Datos</a>
						</div>
					</div>
				</div>
			</div>
			{% else %}
			<div class="row">
				<div class="col-12 col-sm-12 col-lg-12">
					<div class="card card-{{ CLASE_INTERFAZ }} card-tabs">
						<div class="card-header p-0 pt-1">
							<ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" data-toggle="pill" href="#tabGraficos" role="tab" aria-controls="tabGraficos" aria-selected="true">Gráficos</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="pill" href="#tabEcuaciones" role="tab" aria-controls="tabEcuaciones" aria-selected="true">Ecuaciones y Errores</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="pill" href="#tabCorrelacion" role="tab" aria-controls="tabCorrelacion" aria-selected="true">Correlación de Datos</a>
								</li>
							</ul>
						</div>
						<div class="card-body">
							<div class="tab-content">
								<div class="tab-pane fade show active" id="tabGraficos" role="tabpanel" aria-labelledby="tabGraficos">
									<div class="row">
										<div class="col-lg-12">
											<div class="row">
												<div class="col-9 col-lg-5">
													<div class="card">
														<div class="card-body">
															<div id="grafico"></div>
														</div>
													</div>
												</div>
												<div class="col-3 col-lg-2">
													<div class="card card-{{ CLASE_INTERFAZ_ALT }}">
														<div class="card-header">
															<h3 class="card-title"><i class="fas fa-chart-pie mr-2"></i>Selección de Gráfico</h3>
														</div>
														<div class="card-body">
															<div class="text-center"> 
															{% for datos in ejesY %}
																{% if datos.0 >= 0 %}
																<input type="radio" id="verGrafico{{ forloop.counter }}" name="verGrafico" value="{{ forloop.counter0 }}" onchange="mostrarGrafico()" />
																<label for="verGrafico{{ forloop.counter }}" class="cursor-pointer">Ver Gráfico {{ forloop.counter }}</label>
																<br />
																{% endif %}
															{% endfor %}
															</div>
														</div>
													</div>
													<div class="card card-{{ CLASE_INTERFAZ_ALT }}">
														<div class="card-header">
															<h3 class="card-title"><i class="fas fa-chart-line mr-2"></i>Modelo aproximado</h3>
														</div>
														<div class="card-body">
															<div class="text-center"> 
																<input type="checkbox" id="verModeloAproximado" value="1" onchange="mostrarModelo()" />
																<label for="verModeloAproximado" class="cursor-pointer">Ver modelo aproximado</label><br />
																<span id="coeficiente" class="ecuacion"></span><br /><br />
																<button id="verEcuacionGrafico" class="btn btn-{{ CLASE_INTERFAZ }}" onclick="mostrarEcuacion('verGrafico')" disabled="disabled">Clic para ver la ecuación</button>
															</div>
														</div>
													</div>
												</div>
												<div class="col-12 col-lg-5">
													<div class="card card-{{ CLASE_INTERFAZ_ALT }}">
														<div class="card-header">
															<h3 class="card-title"><i class="fas fa-table mr-2"></i>Tabla de Datos</h3>
														</div>
														<div class="card-body">
															<div id="tablaDatos" class="display-none">
																{{ vistaTabla|safe }}
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade show" id="tabEcuaciones" role="tabpanel" aria-labelledby="tabEcuaciones">
									<div class="row">
										<div class="col-3 col-lg-2">
											<div class="card card-{{ CLASE_INTERFAZ_ALT }}">
												<div class="card-header">
													<h3 class="card-title"><i class="fas fa-chart-pie mr-2"></i>Selección de Gráfico de Error</h3>
												</div>
												<div class="card-body">
													<div class="text-center"> 
													{% for datos in ejesY %}
														{% if datos.0 >= 0 %}
														<input type="radio" id="verGraficoError{{ forloop.counter }}" name="verGraficoError" value="{{ forloop.counter0 }}" onchange="mostrarGraficoError()" />
														<label for="verGraficoError{{ forloop.counter }}" class="cursor-pointer">Ver Gráfico de Error {{ forloop.counter }}</label>
														<br />
														{% endif %}
													{% endfor %}
													</div>
												</div>
											</div>
										</div>
										<div class="col-9 col-lg-5">
											<div class="card">
												<div class="card-body">
													<div id="graficoError"></div>
												</div>
											</div>
										</div>
										<div class="col-12 col-lg-5">
											<div class="row">
												<div class="col-12">
													<div class="card card-{{ CLASE_INTERFAZ_ALT }}">
														<div class="card-header">
															<h3 class="card-title"><i class="fas fa-table mr-2"></i>Tabla de Datos y Errores</h3>
														</div>
														<div class="card-body">
															<div id="tablaDatosError" class="display-none">
																{{ vistaTabla|safe }}
															</div>
														</div>
													</div>
												</div>
											</div>
											{% for datos in ecuaciones %}
											<div class="row">
												<div class="col-2"></div>
												<div id="cabeceraGraficoError{{ forloop.counter0 }}" class="col-8 cabeceraGraficoError display-none">
													<div class="small-box bg-{{ CLASE_INTERFAZ_ALT }}">
														<div class="inner">
															<h3>Gráfico {{ forloop.counter }}</h3>
															<span class="ecuacion-grande" data-toggle="tooltip" data-placement="top" title="r: Correlación Lineal">r = {{ datos.r }}</span><br />
															<span class="ecuacion-grande" data-toggle="tooltip" data-placement="bottom" title="Root Mean Square Error: Raíz de Error Cuadrático Medio">RMSE = {{ rsme|buscar_lista:forloop.counter0 }}</span>
														</div>
														<div class="icon">
															<i class="fas fa-chart-line"></i>
														</div>
														<a href="#" class="small-box-footer" onclick="mostrarEcuacion('verGraficoError')">Ver Ecuación <i class="fas fa-arrow-circle-right"></i></a>
													</div>
												</div>
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
								<div class="tab-pane fade show" id="tabCorrelacion" role="tabpanel" aria-labelledby="tabCorrelacion">
									<div class="row">
										<div class="col-12 col-lg-2"></div>
										<div class="col-12 col-lg-8">
											<div class="card card-{{ CLASE_INTERFAZ_ALT }}">
												<div class="card-header">
													<h3 class="card-title"><i class="fas fa-table mr-2"></i>Matriz de Correlación</h3>
												</div>
												<div class="card-body">
													<div class="text-center">
														<table class="table table-bordered" align="center">
															<tr class="table-active">
																<td align="center"><b>r</b></td>
															{% for datos in ecuaciones %}
																<td align="center"><b>Y{{ forloop.counter }}</b></td>
															{% endfor %}
															</tr>
															{% for datos in correlaciones %}
															<tr>
																<td align="center" class="table-active"><b>Y{{ forloop.counter }}</b></td>
																{% for r in correlaciones|buscar_lista:forloop.counter0 %}
																{% if r < 0 %}
																<td align="center" class="negativo">{{ r }}</td>
																{% else %}
																<td align="center">{{ r }}</td>
																{% endif %}
																{% endfor %}
															</tr>
															{% endfor %}
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</section>
	{% if mostrarGrafico == 1 %}
		<div class="modal fade" id="modalEcuacion">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header bg-{{ CLASE_INTERFAZ }}">
						<h4 id="titulo-ecuacion" class="modal-title">Ecuación</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div id="cuerpo-ecuacion" class="ecuacion">
						</div>
					</div>
					<div class="modal-footer text-right">
						<button type="button" class="btn btn-{{ CLASE_INTERFAZ }}" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
{% block scripts %}
	{% if mostrarGrafico == 1 %}
	<script>
	let lineasGrafico = []
	let lineasEcuacion = []
	let lineasError = []
	let tablaDatos = null
	let tablaDatosError = null

	/*
	 * Funcion para obtener los graficos seleccionados (radio, checkbox)
	 */
	function obtenerGraficosSeleccionados(){
		let elementosSeleccionados = []

		$('input[name="verGrafico"]:checked').each(function() {
		    elementosSeleccionados.push($(this).val())
		})

		return elementosSeleccionados
	}

	/*
	 * Funcion para mostrar las lineas segun los graficos seleccionados
	 */
	function mostrarGrafico(){
		let elementosSeleccionados = obtenerGraficosSeleccionados()

		{% for datos in ejesY %}
			{% if datos.0 >= 0 %}
 			lineasGrafico[{{ forloop.counter0 }}].visible = false
			{% endif %}
 		{% endfor %}

		for (let elemento in elementosSeleccionados) {
	 		lineasGrafico[elementosSeleccionados[elemento]].visible = true
		}
	 	
		$('.bk-button-bar > .bk-tool-icon-reset').trigger('click')
		mostrarDatosTabla(elementosSeleccionados)
		mostrarModelo()
	}

	/*
	 * Funcion para mostrar las tablas y los datos estadisticos segun los graficos seleccionados
	 */
	function mostrarDatosTabla(elementosSeleccionados){
		let columnas = [0]

		for (let elemento in elementosSeleccionados) {
			let col = parseInt(elementosSeleccionados[elemento], 10)
	 		columnas.push(col + 1)
		}

		tablaDatos.columns().visible(false)
	    tablaDatos.columns(columnas).visible(true)
	}

	/*
	 * Funcion para mostrar la ecuacion y su grafica
	 */
	function mostrarModelo(){
		{% for datos in ejesY %}
			{% if datos.0 >= 0 %}
			lineasEcuacion[{{ forloop.counter0 }}].visible = false
			{% endif %}
 		{% endfor %}

		if($('#verModeloAproximado:checked').length > 0){
			let indiceGraf = $('input[name="verGrafico"]:checked').val()
			$("#verEcuacionGrafico").prop("disabled", false)

			{% for datos in ecuaciones %}
	        if (indiceGraf == {{ forloop.counter0 }}){
	 			lineasEcuacion[indiceGraf].visible = true
	        	$("#coeficiente").html("r = {{ datos.r }}")
	        }
		    {% endfor %}
		} else {
			$("#coeficiente").html("")
			$("#verEcuacionGrafico").prop("disabled", true)
		}
	}

	/*
	 * Funcion para mostrar la ecuacion en el modal
	 */
	function mostrarEcuacion(pestana){
		let indiceGraf = $('input[name="'+pestana+'"]:checked').val()
    	$("#titulo-ecuacion").html("Ecuación")
    	$("#cuerpo-ecuacion").html("")

		if($('#verModeloAproximado:checked').length > 0 || pestana == 'verGraficoError'){
			{% for datos in ecuaciones %}
	        if (indiceGraf == {{ forloop.counter0 }}){
    			$("#titulo-ecuacion").html("Ecuación del Gráfico "+(parseInt(indiceGraf, 10) + 1))
	        	$("#cuerpo-ecuacion").html("{{ datos.ecuacion|safe }}")
	        	$("#modalEcuacion").modal("show")
	        }
	    	{% endfor %}
	    }
	}

	/*
	 * Funcion para obtener los graficos de error seleccionados (radio, checkbox)
	 */
	function obtenerGraficosErrorSeleccionados(){
		let elementosSeleccionados = []

		$('input[name="verGraficoError"]:checked').each(function() {
		    elementosSeleccionados.push($(this).val())
		})

		return elementosSeleccionados
	}

	/*
	 * Funcion para mostrar las lineas segun los graficos seleccionados
	 */
	function mostrarGraficoError(){
		let elementosSeleccionados = obtenerGraficosErrorSeleccionados()
		$('.cabeceraGraficoError').addClass('display-none')

		{% for datos in ejesY %}
			{% if datos.0 >= 0 %}
 			lineasError[{{ forloop.counter0 }}].visible = false
			{% endif %}
 		{% endfor %}

		for (let elemento in elementosSeleccionados) {
	 		lineasError[elementosSeleccionados[elemento]].visible = true
	 		$('#cabeceraGraficoError'+elementosSeleccionados[elemento]).removeClass('display-none')
		}
	 	
		$('.bk-button-bar > .bk-tool-icon-reset').trigger('click')
		mostrarDatosTablaError(elementosSeleccionados)
	}

	/*
	 * Funcion para mostrar las tablas y los datos estadisticos segun los graficos seleccionados
	 */
	function mostrarDatosTablaError(elementosSeleccionados){
		let columnas = [0]

		for (let elemento in elementosSeleccionados) {
			let col = parseInt(elementosSeleccionados[elemento], 10)
	 		columnas.push(col + 1)
	 		columnas.push(col + 7)  //Columna de dato evaluado en la ecuacion
	 		columnas.push(col + 13) //Columna de error
		}

		tablaDatosError.columns().visible(false)
	    tablaDatosError.columns(columnas).visible(true)
	}

	$(function () {
		$('[data-toggle="tooltip"]').tooltip()

		//Herramientas de bokeh (pan,crosshair,wheel_zoom,box_zoom,reset,save)
		let titulo = ""
		let herramientas = "box_zoom,reset"
		let fuente = null
		let linea = null
		let fuenteError = null
		let lineaError = null

		//Grafico de datos
	    let grafico = Bokeh.Plotting.figure({
	        title: titulo,
	        tools: herramientas,
	        toolbar_location: 'above',
	        sizing_mode: 'scale_width'
	    })

		//Se generan los graficos de forma dinamica
		{% for datos in ejesY %}
			{% if datos.0 >= 0 %}
			//Grafico
			fuente = new Bokeh.ColumnDataSource({ data: { x: {{ ejeX }}, y: {{ datos }}}})
			linea = grafico.line({field: "x"}, {field: "y"}, {source: fuente, line_color: "navy", alpha: 0.8})
			lineasGrafico[{{ forloop.counter0 }}] = linea
			lineasGrafico[{{ forloop.counter0 }}].visible = false

			//Ecuacion
			{% with ecuaciones|buscar_lista:forloop.counter0 as ecuacion %}
			fuenteEcuacion = new Bokeh.ColumnDataSource({ data: { x: {{ ejeX }}, y: {{ ecuacion.ejeY }}}})
			{% endwith %}
			lineaEcuacion = grafico.line({field: "x"}, {field: "y"}, {source: fuenteEcuacion, line_color: "red", alpha: 0.8})
			lineasEcuacion[{{ forloop.counter0 }}] = lineaEcuacion
			lineasEcuacion[{{ forloop.counter0 }}].visible = false
			{% endif %}
		{% endfor %}

		Bokeh.Plotting.show(grafico, $("#grafico"))

	    //Tabla de datos
	    let maximo = ""
	    let minimo = ""
	    let promedio = ""
	    let desviacion = ""

		{% for datos in ejesY %}
			{% if datos.0 >= 0 %}
			{% with estadisticas|buscar_lista:forloop.counter0 as datoTabla %}
			maximo += "<td>{{ datoTabla.maximo }}</td>"
			minimo += "<td>{{ datoTabla.minimo }}</td>"
			promedio += "<td>{{ datoTabla.promedio }}</td>"
			desviacion += "<td>{{ datoTabla.desviacion }}</td>"
			{% endwith %}
			{% endif %}
		{% endfor %}

		//Se agrega el footer antes de crear el datatable
	    let footer = "<tfoot>"
		footer += "<tr><th class='text-left'>Máximo: </th>" + maximo + "</tr>"
		footer += "<tr><th class='text-left'>Mínimo: </th>" + minimo + "</tr>"
		footer += "<tr><th class='text-left'>Promedio: </th>" + promedio + "</tr>"
		footer += "<tr><th class='text-left'>Desv. estándar: </th>" + desviacion + "</tr>"
		footer += "</tfoot>"
		$("#tablaDatos table").append(footer)

		//Clases de encabezado y footer
		$("#tablaDatos table thead").addClass('bg-{{CLASE_INTERFAZ_ALT}}')
		$("#tablaDatos table tfoot").addClass('bg-{{CLASE_INTERFAZ_ALT}}')

		tablaDatos = $("#tablaDatos table").DataTable({
			"lengthMenu": [[10, 25, 50], [10, 25, 50]],
			"columnDefs": [
				{"width": "50%", "targets": 0}
			],
	        "language": {
	            "lengthMenu": "Mostrar _MENU_ registros por página",
	            "zeroRecords": "No hay datos",
	            "info": "Página _PAGE_ de _PAGES_",
	            "infoEmpty": "No hay datos disponibles",
	            "infoFiltered": "(filtrado de _MAX_ registros totales)",
	            "search": "Buscar",
	            "paginate": {"first": "Primero",
							"last": "Último",
							"next": "Siguiente",
							"previous": "Anterior"
				}
	        }
	    })

	    tablaDatos.columns().visible(false)
	    tablaDatos.columns(0).visible(true)
	    $("#tablaDatos").show()

	    //Grafico de errores
	    let graficoError = Bokeh.Plotting.figure({
	        title: titulo,
	        tools: herramientas,
	        toolbar_location: 'above',
	        sizing_mode: 'scale_width'
	    })

		//Se generan los graficos de forma dinamica
		{% for datos in ejesYError %}
			{% if datos.0 >= 0 %}
			//Grafico
			fuenteError = new Bokeh.ColumnDataSource({ data: { x: {{ ejeX }}, y: {{ datos }}}})
			lineaError = graficoError.line({field: "x"}, {field: "y"}, {source: fuenteError, line_color: "firebrick", alpha: 0.8})
			lineasError[{{ forloop.counter0 }}] = lineaError
			lineasError[{{ forloop.counter0 }}].visible = false
			{% endif %}
		{% endfor %}

		Bokeh.Plotting.show(graficoError, $("#graficoError"))

		//Tabla de error
		$("#tablaDatosError table thead").addClass('bg-{{CLASE_INTERFAZ_ALT}}')
		$("#tablaDatosError table tfoot").addClass('bg-{{CLASE_INTERFAZ_ALT}}')

		tablaDatosError = $("#tablaDatosError table").DataTable({
			"lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]],
			"columnDefs": [
				{"width": "25%"}
			],
	        "language": {
	            "lengthMenu": "Mostrar _MENU_ registros por página",
	            "zeroRecords": "No hay datos",
	            "info": "Página _PAGE_ de _PAGES_",
	            "infoEmpty": "No hay datos disponibles",
	            "infoFiltered": "(filtrado de _MAX_ registros totales)",
	            "search": "Buscar",
	            "paginate": {"first": "Primero",
							"last": "Último",
							"next": "Siguiente",
							"previous": "Anterior"
				}
	        }
	    })

	    tablaDatosError.columns().visible(false)
	    tablaDatosError.columns(0).visible(true)
	    $("#tablaDatosError").show()
	})
	</script>
	{% endif %}
{% endblock %}